@import "../../App.scss";
.header{
    width: 100%;
    display: flex;
    align-items: center;
    height: 10vh;
    padding: 6px 124px 3px 124px;
    @include mobile(){
    padding: 7px 35px 0 35px;
    align-items: center;
    justify-content: space-between;
    }
    .logo{        
        width: 95px;
        height: 95px;
        margin-right: 60px;
        @include mobile(){
            width: 65px;
            height: 65px;
            margin-right: 0px;
            }
    }
    .row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1080px;
        @include mobile(){
            display: none;
            &.open{
                display: flex;
                position: absolute;
                align-items: flex-start;
                left: 0;
                top: 10vh;
                flex-direction: column;
                background-color: #B5CC22;
                width: 100%;
                height: 800px;
                .left{
                    display: flex;
                    flex-direction: column;
                    padding: 32px;
                    span{
                        color: white;
                    }
                }
                .right{
                    display: flex;
                    padding: 32px;
                    button{
                        background: white;
                        color: #B5CC22;
                    }
                }
            }
        }
        
    .left{
        display: flex;
        align-items: center;
        gap:40px;
        .link{
            text-decoration: none;
            font-family: 'Noto Sans TC', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            color: #677510;
            &.check{
                color: #B5CC22;
            }
        }
    }
    .right{
        display: flex;
        button{            
            font-family: 'Noto Sans TC', sans-serif;
            font-weight: 400;
            width: 85px;
            height: 40px;
            border-radius: 100px;
            background: #B5CC22;
            border: none;
            color: white;
        }
        @include mobile(){
            display: none;
            }
         }
    }
    .icon{
        display: none;
        @include mobile(){
            display: flex;
            width: 18px;
            height: 12px;
        }
    }
}
